In [3]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# 2) Cargar dataset
df = pd.read_csv("NEW YORK.csv")

# Vista rápida
print("Columnas:", df.columns.tolist())
print(df.head(3))

Columnas: ['Unnamed: 0', 'id', 'last_scraped', 'source', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'price', 'minimum_nights', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable']
   Unnamed: 0      id last_scraped       source  host_since  host_location  \
0           0  2539.0   17/06/2025  city scrape  07/09/2008   New York, NY
1           1  2595.0   17/06/2025  city scrape  09/09/2008  Woodstock, NY
2           2  5136.0   17/06/2025  city scrape  03/02/2009   New York, NY

                                          host_about  host_response_time  \
0  Educated professional living in Brooklyn.  I l...  within a few hours
1  A New Yorker since 2000! My passion is creatin...  within a few hours
2  Rebecca is an artist/designer, and Henoch is i...                 NaN

  host_response_rate host_acceptance_rate  ... last_review  \
0               100%                  80%  ...  19/10/2018
1                94%                  24%  ...  21/06/2022
2                NaN                 100%  ...  20/08/2023

  review_scores_rating review_scores_accuracy  review_scores_cleanliness  \
0                 4.89                   4.88                       5.00
1                 4.68                   4.73                       4.63
2                 4.75                   4.75                       4.50

   review_scores_checkin review_scores_communication review_scores_location  \
0                   5.00                         5.0                   4.75
1                   4.77                         4.8                   4.81
2                   5.00                         5.0                   4.75

  review_scores_value license instant_bookable
0                4.88     NaN                f
1                4.40     NaN                f
2                4.75     NaN                t

[3 rows x 54 columns]

In [5]:
#Identificar valores nulos por columna
valores_nulos=df.isnull().sum()
valores_nulos

Unnamed: 0                          0
id                                  0
last_scraped                        0
source                              0
host_since                         15
host_location                    7409
host_about                      15366
host_response_time              14772
host_response_rate              14772
host_acceptance_rate            14602
host_is_superhost                 492
host_picture_url                   15
host_neighbourhood               7288
host_listings_count                15
host_total_listings_count          15
host_verifications                 15
host_has_profile_pic               15
host_identity_verified             15
neighbourhood                   17237
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms_text                     36
bedrooms                         6048
beds                            14702
price                           14863
minimum_nights                      0
has_availability                 5617
availability_30                     0
availability_60                     0
availability_90                     0
availability_365                    0
calendar_last_scraped               0
number_of_reviews                   0
number_of_reviews_ltm               0
number_of_reviews_l30d              0
availability_eoy                    0
estimated_occupancy_l365d           0
estimated_revenue_l365d         14863
first_review                    11151
last_review                     11151
review_scores_rating            11151
review_scores_accuracy          11161
review_scores_cleanliness       11152
review_scores_checkin           11165
review_scores_communication     11157
review_scores_location          11168
review_scores_value             11167
license                         30993
instant_bookable                    0
dtype: int64

In [6]:
# Quita $ y comas; usa raw string para evitar warnings
df["price"] = df["price"].replace(r'[\$,]', '', regex=True).astype(float)

In [ ]:
#promedio precios 
prom_por_tipo = df.groupby("room_type")["price"].mean().reset_index()
print("Promedio por room_type:\n", prom_por_tipo)

Promedio por room_type:
          room_type         price
0  Entire home/apt    306.338406
1       Hotel room  27577.795349
2     Private room    167.778610
3      Shared room    135.478571

In [8]:
# Promedio por room_type y bathrooms_text con na
prom_por_tipo_bath = (
    df.groupby(["room_type", "bathrooms_text"], dropna=False)["price"]
      .mean()
      .reset_index()
)
print(prom_por_tipo_bath.head(20))

          room_type bathrooms_text         price
0   Entire home/apt        0 baths    228.795455
1   Entire home/apt         1 bath    251.319763
2   Entire home/apt      1.5 baths    335.876963
3   Entire home/apt     15.5 baths   2029.000000
4   Entire home/apt        2 baths    499.479226
5   Entire home/apt      2.5 baths    601.895833
6   Entire home/apt        3 baths    722.818182
7   Entire home/apt      3.5 baths   1048.169014
8   Entire home/apt        4 baths   1600.827586
9   Entire home/apt      4.5 baths   1269.423077
10  Entire home/apt        5 baths    952.714286
11  Entire home/apt      5.5 baths   1765.750000
12  Entire home/apt        6 baths   2112.000000
13  Entire home/apt      6.5 baths   2568.500000
14  Entire home/apt        7 baths   1836.000000
15  Entire home/apt      7.5 baths   2653.666667
16  Entire home/apt        9 baths   2250.000000
17  Entire home/apt      Half-bath    706.312500
18  Entire home/apt            NaN    180.000000
19       Hotel room         1 bath  27340.955357

In [9]:
#rellenar price con el promedio por room_type y bathrooms_text
df["price"] = df["price"].fillna(
    df.groupby("room_type")["price"].transform("mean")
)

# Verificación rápida de que ya no hay NaN en price
print("NaN en price después del relleno:", df["price"].isna().sum())

NaN en price después del relleno: 0